.footer {
  background: rgb(18, 17, 17);
}
 
.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}
 
.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ffffff;
}
 
.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}



.footer-contato li a {
  color: #ffffff;
}
.footer-copy-redes {  
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-copy-redes .footer-copy {
  font-size: 1.125rem;
  color: #8f8f8f;
  margin: 0;
}
 
.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #ffffff;
}
.footer-redes {
  display: flex;
  margin: 10px 5px 10px 350px;
  gap: 20px;
  margin-top: 20px;
}
.footer-redes li {
  list-style: none;
}
 
.footer-redes a {
  display: inline-block;
  padding: 12px;
  border-radius: 8px;
}
.footer-redes a:hover {
  background-color: rgb(253, 209, 13);
}
.footer-redes img {
  width: 101px;
  height: 101px;
  display: block;
  filter: grayscale(100%) brightness(0.7);
  transition: filter 0.3s ease;
}
.footer-redes a:hover img {
  filter: grayscale(0%) brightness(1);
}
 
@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
    text-align: center;
  }
  .footer-contato {
    text-align: center;
    padding: 0;
  }
  .footer-contato li {
    font-size: 1.5rem;
    margin-bottom: 20px;
    justify-content: center;
  }
  .footer-texto {
    text-align: center;
  }
  .footer-copy-redes {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .footer-copy {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-redes {
    margin: 20px 0 10px 0;
    justify-content: center;
    gap: 20px;
  }
}
