body{
    font-family: 'Fira Sans', Arial, sans-serif;
    margin: 0px;
    color: rgb(200, 200, 200);
    background-color: rgb(18, 17, 17);
}

h1, h2, h3, p{
    margin: 0px; /*isso retira a margem, reduzindo a zero*/
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.img1{
    margin-left: 1px;
    image-resolution: 1000dpi;
    width:400px;
    height: 388px;
    border-radius: 10px;
    margin-top: -234px;
    
}

.subtitulo{
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

@media(max-width: 800px){
    .subtitulo{
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial;
    }    
}

@media(max-width: 600px){
    .img1{
        display: none;
    }
}
